<div class="modal fade" id="QuickAddFileModal" tabindex="-1" aria-labelledby="QuickAddFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QuickAddFileModalLabel">Upload challenge file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="QuickAddForm" method="POST" action="{% url 'ctfpad:challenge-files-add' challenge.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <span class="input-group-text"><i class="fas fa-file-upload"></i></span>
                            <div class="custom-file">
                                <input class="custom-file-input" type="file" name="file" required="" id="id_file">
                                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                            </div>
                            <input type="hidden" id="id_file_challenge" name="challenge" value="{{challenge.id}}" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="document.getElementById('QuickAddForm').submit();">Upload File</button>
                </div>
            </form>
        </div>
    </div>
</div>
