{% load humanize %}
<div class="card card-body">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#QuickAddCategoryModal" href="#"><strong>Add a category</strong></a>
        </div>
        <div class="col">
            <a class="btn btn-info btn-sm btn-block" href="{% url 'ctfpad:challenges-create' ctf=ctf.id %}"><strong>Add a challenge</strong></a>
        </div>
    </div>
    <table class="table table-sm table-hover">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Points</th>
            <th>Last Modified</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>

        {% for challenge in ctf.challenges %}
            {% if challenge.status == "solved" %}
            <tr class="ctf-completed-challenge-row">
            {% else %}
            <tr class="table-row" data-href="{% url 'ctfpad:challenges-detail' challenge.id %}">
            {% endif %}
                <td>
                    <span class="badge badge-primary">{{challenge.category.name}}</span>
                </td>
                <td>{{challenge.name}}</td>
                <td>{{challenge.points}}</td>
                <td>{{challenge.last_modification_time|naturaltime}}</td>
                <td><a class="btn btn-sm btn-success" href="{% url 'ctfpad:challenges-detail' challenge.id %}">Goto</a></td>
                <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:challenges-edit' challenge.id %}">Update</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:challenges-delete' challenge.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>
</div>