{% if request.user.member.hedgedoc_password %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    fetch("{{hedgedoc_url}}/login", {
      method: 'POST',
      mode: 'no-cors',
      cache: 'no-cache',
      credentials: 'include',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
      body: "email={{request.user.member.hedgedoc_username}}&password={{request.user.member.hedgedoc_password}}"
    }).then(data => { document.getElementById("note_frame").src = "{{ ctf.note_url }}"; });
});
</script>
{% endif %}

<div class="card card-body">
    <div class="row">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe
            id="note_frame"
            class="embed-responsive-item"
            width="100%"
            height="500"
            frameborder="0">
            </iframe>
        </div>
    </div>
</div>