{%  extends 'ctfpad/main.html' %}

{% block content %}

{% include 'ctfpad/ctfs/status.html' %}

<br/>

{% include 'snippets/messages.html' %}

{% load humanize %}

<div class="row">
    <div class="col-md-5">
        <h5>{{ctf.name | upper}}</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-warning btn-sm btn-block" href="{% url 'ctfpad:ctfs-edit' ctf.id %}"><strong>Edit CTF</strong></a>
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" style="text-align: center;">
                    <img width="75px" height="75px" src="{{ctf.ctftime_logo_url}}" alt="{{ctf.name|lower}} avatar" class="rounded-circle">
                </li>
                <li class="list-group-item list-group-item-action">
                    <strong>Description:</strong>
                    {{ctf.description|safe}}
                </li>

                {% if ctf.team_login %}
                <li class="list-group-item list-group-item-action">
                    <strong>Team Login:</strong>
                    <code>{{ctf.team_login}}</code>
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Team Password:</strong>
                    <code>{{ctf.team_password}}</code>
                </li>
                {% endif %}

                {% if not ctf.is_permanent %}
                <li class="list-group-item list-group-item-action">
                    <strong>Start Date:</strong>
                    {{ctf.start_date}}
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>End Date:</strong>
                    {{ctf.end_date}}
                </li>
                {% endif %}

                {% if ctf.url %}
                <li class="list-group-item list-group-item-action">
                    <strong>URL:</strong>
                    <a href="{{ctf.url}}" target="_blank">{{ctf.url}} <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}

                {% if ctf.flag_prefix %}
                <li class="list-group-item list-group-item-action">
                    <strong>Flag Prefix:</strong>
                    <code>{{ctf.flag_prefix}}</code>
                </li>
                {% endif %}

                {% if ctf.ctftime_id %}
                <li class="list-group-item list-group-item-action">
                    View on <strong>
                        <a href="{{ctf.ctftime_url}}" target="_blank">CTFTime<i class="fas fa-external-link-alt"></i></a>
                    </strong>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-md-7">
    <h5>Challenges <span class="badge badge-light">{{ctf.challenges|length}}</span></h5>
		<hr>
		<div class="card card-body">
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary btn-sm btn-block" data-toggle="modal" data-target="#QuickAddCategoryModal" href="#"><strong>Add a category</strong></a>
                </div>
                <div class="col">
                    <a class="btn btn-info btn-sm btn-block" href="{% url 'ctfpad:challenges-create' ctf=ctf.id %}"><strong>Add a challenge</strong></a>
                </div>
            </div>
			<table class="table table-sm table-hover">
				<tr>
					<th></th>
					<th>Name</th>
					<th>Points</th>
					<th>Last Modified</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				{% for challenge in ctf.challenges %}
                    {% if challenge.status == "solved" %}
                    <tr class="ctf-completed-challenge-row">
                    {% else %}
                    <tr>
                    {% endif %}
						<td>
                            <span class="badge badge-primary">{{challenge.category.name}}</span>
                        </td>
                        <td>{{challenge.name}}</td>
						<td>{{challenge.points}}</td>
                        <td>{{challenge.last_modification_time|naturaltime}}</td>
						<td><a class="btn btn-sm btn-success" href="{% url 'ctfpad:challenges-detail' challenge.id %}">Goto</a></td>
						<td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:challenges-edit' challenge.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:challenges-delete' challenge.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
        </div>
    </div>
</div>


<div class="modal fade" id="QuickAddCategoryModal" tabindex="-1" aria-labelledby="QuickAddCategoryModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	    <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="QuickAddCategoryModalLabel">Quick Add Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'ctfpad:categories-create' %}">
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fas fa-folder-open"></i></span>
                            </div>
                            <input id="{{add_category_form.name.id_for_label}}" name="{{add_category_form.name.html_name }}" placeholder="{{add_category_form.name.label}}"  class="form-control" type="text" value="" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" onclick="this.form.submit();">Add a category</button>
                    </div>
                </div>
            </form>
	    </div>
	</div>
</div>

{% endblock %}