<div class="row">
    <div class="col-md-12">
        <h5>Import from CTFtime</h5>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">CTF</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for ctf in ctftime_ctfs %}
            <tr>
                <th scope="row">{{ctf.title}}</td>
                <td>{{ctf.start}}</td>
                <td>{{ctf.finish}}</td>
                <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:ctfs-import' %}?ctf_name={{ctf.title|escape}}&ctf_start={{ctf.start|escape}}&ctf_finish={{ctf.finish|escape}}&ctf_url={{ctf.url|escape}}&ctf_description={{ctf.description|escape}}">Import</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>