<div class="row">
    <div class="col-md-12">
        <h5>Import from CTFtime</h5>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">CTF</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for ctf in ctftime_ctfs %}
            <tr>
                <td scope="row">
                    <a href="https://ctftime.org/event/{{ctf.id}}" target="_blank">{{ctf.title}} <i class="fas fa-external-link-alt"></i></a>
                </td>
                <td>{{ctf.start}}</td>
                <td>{{ctf.finish}}</td>
                <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:ctfs-import' %}?ctftime_id={{ctf.id|urlencode}}">Import</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>