{%  extends 'ctfpad/main.html' %}

{% block content %}

<br/>



{% for message in messages %}
    <p id="messages">{{message}}</p>
{% endfor %}

<div class="row">

    <div class="col-md-2"></div>

    <div class="col">
    {% if object_list %}
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">CTF</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for ctf in page_obj %}
            <tr>
                <th scope="row">{{ctf.name}}</td>
                <td>{{ctf.start_date}}</td>
                <td>{{ctf.end_date}}</td>
                <td><a class="btn btn-sm btn-success" href="{% url 'ctfpad:ctfs-detail' ctf.id %}">View</a></td>
                <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:ctfs-edit' ctf.id %}">Edit</a></td>
                <td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:ctfs-delete' ctf.id %}">Delete</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        <nav aria-label="CTF Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {% endif %}

                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_obj.number }} / {{ paginator.num_pages }} <span class="sr-only">(current)</span></a>
                </li>

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% else %}
        <h4>No CTF found</h4>
        <br>
        Try importing from <a href="https://ctftime.org">CTFTime</a> or <a href="{% url 'ctfpad:ctfs-create'%}">create new one</a>.
        <br>
        {% endif %}
    </div>

    <div class="col-md-2"></div>
</div>

<br>
<hr>
<br>

<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <h5>Import from CTFtime</h5>

        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th scope="col">CTF</th>
                <th scope="col">Start</th>
                <th scope="col">End</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for ctf in ctftime_ctfs %}
            <tr>
                <th scope="row">{{ctf.title}}</td>
                <td>{{ctf.start}}</td>
                <td>{{ctf.finish}}</td>
                <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:ctfs-create' %}">Import</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
    <div class="col-md-2"></div>
</div>

{% endblock %}