# Core packages
django >= 4
Pillow
requests
python-magic
psycopg2-binary
django-model-utils
bleach
pytz

# Dev packages (install those if you intend to submit PRs)
pre-commit
black

# Test packages (for running tests)
pytest
pytest-django
