{%  extends 'ctfpad/main.html' %}

{% block content %}

<br/>




<div style="padding-left: 33%;">

    {% for message in messages %}
    <p id="messages">{{message}}</p>
    {% endfor %}

    {{ form.errors }}

    <div class="card" style="width: 35rem;">
        <div class="card-header">
            <h5 class="card-title">
                {% if form.name.value %}
                <p class="card-header-title">Updating Challenge {{form.name.value}}</p>
                {% else %}
                <p class="card-header-title">New Challenge</p>
                {% endif %}
            </h5>
        </div>

        <div class="card-body">
            <form class="form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">

                    <label class="label"><strong>Name</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-hat-cowboy-side"></i>
                            </span>
                        </div>
                        <input id={{form.name.id_for_label}} name="{{form.name.html_name }}" value="{{form.name.value}}" class="form-control" type="text" placeholder="{{form.name.label}}" required>
                    </div>

                    <label class="label"><strong>Points</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-poll"></i>
                            </span>
                        </div>
                        <input id={{form.points.id_for_label}} name="{{form.points.html_name }}" placeholder="{{form.points.label}}" value="{{form.points.value}}" class="form-control"/>
                    </div>

                    <label class="label"><strong>Category</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-folder-open"></i>
                            </span>
                        </div>
                        {{ form.category }}
                    </div>

                    <input type="hidden" id={{form.ctf.id_for_label}} name="{{form.ctf.html_name }}" value="{{form.ctf.value}}" />
                    <input type="hidden" id="{{form.last_update_by.id_for_label}}" name="{{form.last_update_by.html_name}}" value="{{ request.user.id }}" />

                    <label class="label"><strong>Description</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-pen"></i>
                            </span>
                        </div>
                        <textarea id={{form.description.id_for_label}} name="{{form.description.html_name }}" placeholder="{{form.description.label}}" value="{{form.description.value}}" class="form-control"></textarea>
                    </div>

                    {% if form.is_update %}
                    <label class="label"><strong>Flag</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-flag"></i>
                            </span>
                        </div>
                        <input type="text" id={{form.flag.id_for_label}} name="{{form.flag.html_name }}" placeholder="{{form.flag.label}}" value="{{form.flag.value}}" class="form-control"/>
                    </div>

                    <label class="label"><strong>Solver</strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fas fa-pen"></i>
                            </span>
                        </div>
                        {{ form.solver }}
                    </div>
                    {% endif %}

                    {% if form.note_id.value %}
                    <label class="label"><strong>CodiMD ID </strong></label>
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fab fa-markdown"></i>
                            </span>
                        </div>
                        <input placeholder="{{form.note_id.label}}" value="{{form.note_id.value}}" class="form-control" type="text" readonly>
                    </div>
                    {% endif %}
                </div>

                <div class="card-footer text-muted">
                    <div class="control card-footer-item">
                        {% if form.name.value %}
                        <button type="button" class="btn-primary btn-sm btn-block" onclick="this.form.submit();">Update Challenge</button>
                        {% else %}
                        <button type="button" class="btn-primary btn-sm btn-block" onclick="this.form.submit();">Create Challenge</button>
                        {% endif %}
                        <button type="button" class="btn btn-secondary btn-sm btn-block" onclick="window.history.back();">Cancel</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>

{% endblock %}