{%  extends 'ctfpad/main.html' %}

{% block content %}

<br/>

{% include 'snippets/messages.html' %}

{% if request.user.member.hedgedoc_password %}
<script>
document.addEventListener('DOMContentLoaded', function() {
    fetch("{{hedgedoc_url}}/login", {
      method: 'POST',
      mode: 'no-cors',
      cache: 'no-cache',
      credentials: 'include',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded'},
      body: "email={{request.user.member.hedgedoc_username}}&password={{request.user.member.hedgedoc_password}}"
    }).then(data => { document.getElementById("note_frame").src = "{{ challenge.note_url }}"; });
});

</script>
{% endif %}

<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-sm-2">
                <span class="btn btn-outline-primary btn-sm" data-toggle="collapse" href="#challenge_info_left_menu" role="button" aria-expanded="false" aria-controls="collapseExample">
                    <i class="fas fa-expand-alt"></i>
                </span>
            </div>
            <div class="col-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ctfpad:ctfs-detail' challenge.ctf.id %}"><strong>{{challenge.ctf.name | upper | slice:":5" }}[...]</strong></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><strong>{{challenge.name | upper | slice:":5" }}[...]</strong></li>
                        <li class="breadcrumb-item" aria-current="page"><strong>INFO</strong></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-sm">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'ctfpad:ctfs-detail' challenge.ctf.id %}"><strong>{{challenge.ctf.name | upper}}</strong></a></li>
                        <li class="breadcrumb-item active" aria-current="page"><strong>{{challenge.name | upper}}</strong></li>
                        <li class="breadcrumb-item" aria-current="page"><strong>NOTES</strong></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3" id="challenge_info_left_menu">

		<div class="card card-body">
			<a class="btn btn-warning btn-sm btn-block" href="{% url 'ctfpad:challenges-edit' challenge.id %}"><strong>Edit Challenge</strong></a>
            <ul class="list-group">
                <li class="list-group-item active">
                    <strong>Info</strong>
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Points:</strong>
                    {{challenge.points}}
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Category:</strong>
                    {{challenge.category}}
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Description:</strong>
                    <code>{{challenge.description}}</code>
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Note Id:</strong>
                    <code>{{challenge.note_id}}</code>
                </li>

                <li class="list-group-item list-group-item-action">
                    <a href="{{challenge.jitsi_url}}" target="_blank"><strong>Challenge Jitsi Channel</strong> <i class="fas fa-external-link-alt"></i></a>
                </li>
            </ul>

            <br>

            <div>
                <div class="form-group">
                {% if challenge.status == "solved" %}
                    <input type="text" class="form-control" style="background-color: lightgreen;" id={{flag_form.flag.id_for_label}} name="{{flag_form.flag.html_name}}" placeholder="{{challenge.ctf.flag_prefix}}" value="{{challenge.flag}}" readonly/>
                    <small>by <strong>{{challenge.solver}}</strong> at <em>{{challenge.solved_time}}</em></small>
                {% else %}
                    <form method="POST" action="{% url 'ctfpad:challenges-score' challenge.id %}">
                        {% csrf_token %}
                        <input type="text" class="form-control" style="background-color: lightyellow;" id={{flag_form.flag.id_for_label}} name="{{flag_form.flag.html_name}}" placeholder="{{challenge.ctf.flag_prefix}}" value="" />
                        <input type="hidden" id="{{flag_form.last_update_by.id_for_label}}" name="{{flag_form.last_update_by.html_name}}" value="{{ request.user.id }}" />
                        <button type="submit" class="btn btn-primary">Score flag</button>
                    </form>
                {% endif %}
                </div>
            </div>

            <br>

            <a class="btn btn-info btn-sm" data-toggle="modal" data-target="#QuickAddFileModal"><strong>Add a file</strong></a>
			<table class="table table-sm table-hover">
				<tr>
					<th>File</th>
					<th>Type</th>
					<th>Size</th>
					<th></th>
					<th></th>
				</tr>


                {% for file in challenge.files %}
                <tr>
                    <td><small>{{file.name}}</small></td>
					<td><small>{{file.mime}}</small></td>
					<td><small>{{file.size | filesizeformat}}</small></td>

                    <td>
                        <a href="{{file.file.url}}">
                            ⏬
                        </a>
                    </td>

                    <td>
                        <a href="{% url 'ctfpad:challenge-files-delete' challenge.id file.id %}">
                            ❌
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>

    </div>

    <div class="col-md">
        <div class="row">

            <div class="embed-responsive embed-responsive-16by9">
                <iframe
                id="note_frame"
                class="embed-responsive-item"
                width="100%"
                height="500"
                frameborder="0"
                >
                </iframe>
            </div>
        </div>
    </div>
</div>


{% include 'snippets/quick_add_file.html' with challenge=challenge %}

{% endblock %}
