{% extends 'ctfhub/main.html' %}

{% block content %}
    {% load tz %}

    <br/>

    {% include 'snippets/messages.html' %}
    {% load ctfhub_filters %}

    <div class="row" id="detailNav">
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-2">
                    <span class="btn btn-outline-primary btn-sm" data-bs-toggle="collapse" href="#challenge_info_left_menu"
                          role="button" aria-expanded="true" aria-controls="challenge_info_left_menu">
                        <i class="fas fa-exchange-alt"></i>
                    </span>
                </div>
                <div class="col-sm">
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="row">
                <div class="col-sm">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a
                                href="{% url 'ctfhub:ctfs-detail' challenge.ctf.id %}"><strong>{{ challenge.ctf.name | upper }}</strong></a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <strong>{{ challenge.name | upper }}</strong></li>
                            <li class="breadcrumb-item" aria-current="page"><strong>NOTES</strong></li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 collapse show" id="challenge_info_left_menu">
            {% include 'snippets/formerror.html' %}
            <div class="card card-body">
                <div class="d-grid gap-2">
                    <a class="btn btn-warning btn-sm" href="{% url 'ctfhub:challenges-edit' challenge.id %}"><strong>Edit
                        Challenge</strong></a>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <strong>{{ challenge.name }}</strong> ({{ challenge.points }} points)
                            &nbsp;
                            <a href="{% url 'ctfhub:search' %}?q=cat:category+{{ challenge.category|urlencode }}">
                                <span class="badge text-bg-danger">{{ challenge.category }}</span>
                            </a>

                            {% for tag in challenge.tags.all %}
                                &nbsp;
                                <a href="{% url 'ctfhub:search' %}?q=cat:tag+{{ tag|urlencode }}">
                                    <span class="badge text-bg-info">&nbsp;#{{ tag }}</span>
                                </a>
                            {% endfor %}
                        </li>

                        <li class="list-group-item list-group-item-action">
                            <div class="col" style="text-align: justify;"
                                 onclick="new bootstrap.Modal(document.getElementById('ChallengeDescriptionModal')).toggle();"
                                 title="Click to view the complete description">
                                {% autoescape off %}
                                    {{ challenge.description|html_sanitize|truncatewords:15 }}
                                {% endautoescape %}
                            </div>
                        </li>

                        <li class="list-group-item list-group-item-action">

                            <div class="row">
                                <div class="col-6">
                                    <strong>Features</strong>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col">
                                            <a href="{{ challenge.note_url }}?both#" target="_blank" style="color: black;"
                                               title="Open the challenge note in a pop-up">
                                                <strong><i class="fas fa-clipboard"></i></strong>
                                            </a>
                                        </div>

                                        <div class="col">
                                            <a href="{{ excalidraw_url }}" target="_blank" style="color: black;"
                                               title="Open the challenge whiteboard in a pop-up">
                                                <strong><i class="fas fa-paint-brush"></i></strong>
                                            </a>
                                        </div>

                                        <div class="col">
                                            <a href="{{ challenge.jitsi_url }}" target="_blank" style="color: black;"
                                               title="Open a Jitsi channel">
                                                <strong><i class="far fa-comments"></i></strong>
                                            </a>
                                        </div>

                                        <div class="col">
                                            <a href="{% url 'ctfhub:challenges-export' challenge.id %}" target="_blank"
                                               style="color: black;" title="Generate a GithubPage-ready file">
                                                <strong><i class="fas fa-rss"></i></strong>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="modal fade" id="ChallengeDescriptionModal" tabindex="-1"
                     aria-labelledby="ChallengeDescriptionModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="ChallengeDescriptionModalLabel">Description
                                    of {{ challenge.name }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% autoescape off %}
                                    {{ challenge.description|html_sanitize }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                </div>

                <br>

                <div>
                    <div class="form-group">
                        {% if challenge.status == "solved" %}
                            <input type="text" class="form-control" style="background-color: lightgreen;"
                                   id={{ flag_form.flag.id_for_label }} name="{{ flag_form.flag.html_name }}"
                                   placeholder="{{ challenge.ctf.flag_prefix }}" value="{{ challenge.flag }}" readonly/>
                            <small>Solved by <strong>{{ challenge.solvers.all|join:", " }}</strong> at <em><abbr
                                title="Local time: {{ challenge.solved_time | timezone:request.user.member.timezone }}">{{ challenge.solved_time }}
                                UTC</abbr></em></small>
                        {% else %}
                            <form method="POST" action="{% url 'ctfhub:challenges-score' challenge.id %}">
                                {% csrf_token %}
                                <div class="d-grid gap-2">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" style="background-color: lightyellow;"
                                               id={{ flag_form.flag.id_for_label }} name="{{ flag_form.flag.html_name }}"
                                               placeholder="{{ challenge.ctf.flag_prefix }}" value=""/>
                                        <input type="hidden" id="{{ flag_form.last_update_by.id_for_label }}"
                                               name="{{ flag_form.last_update_by.html_name }}"
                                               value="{{ request.user.id }}"/>
                                        <button type="submit" class="btn btn-primary">Score flag</button>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>

                <br>
                <div class="d-grid gap-2">
                    <a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#QuickAddFileModal"><strong>Add a
                        file</strong></a>
                </div>
                <table class="table table-sm table-hover">
                    <tr>
                        <th>File</th>
                        <th>Type</th>
                        <th>Size</th>
                        <th></th>
                        <th></th>
                    </tr>


                    {% for file in challenge.files %}
                        <tr>
                            <td>
                                <small>
                                    <abbr title="SHA256: {{ file.hash }}">
                                        {{ file.name }}
                                    </abbr>
                                </small>
                            </td>
                            <td>
                                <small>
                                    <abbr title="{{ file.type }}">
                                        {{ file.mime }}
                                    </abbr>
                                </small>
                            </td>
                            <td><small>{{ file.size | filesizeformat }}</small></td>

                            <td>
                                <a href="{{ file.download_url }}" title="Download '{{ file.name }}'">
                                    <span>
                                        <i class="fas fa-download"></i>
                                    </span>
                                </a>
                            </td>

                            <td>
                                <a href="{% url 'ctfhub:challenge-files-delete' challenge.id file.id %}"
                                   title="Delete '{{ file.name }}'">
                                    <span style="color: red; font-weight: bold;">
                                        <i class="fas fa-times"></i>
                                    </span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="col-md">
            <div class="row">
                <div id="ifr" class="ratio ratio-custom" style="height: 500px">
                    <iframe id="note_frame"></iframe>
                </div>
            </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', adjustIframeHeight);
        window.addEventListener('resize', adjustIframeHeight);

        function adjustIframeHeight() {
            let navbarHeight = document.querySelector('.navbar').offsetHeight;
            let detailNavHeight = document.querySelector('#detailNav').offsetHeight;
            let ifr = document.querySelector('#ifr');

        // Calculate the remaining height after subtracting the header and footer
            let remainingHeight = window.innerHeight - navbarHeight - detailNavHeight - 25;

        // Set the height of the iframe
            ifr.style.height = `${remainingHeight}px`;
        }
    </script>

    {% if request.user.member.hedgedoc_password %}
        <script>
            fetch("{{hedgedoc_url}}/login", {
                method: 'POST',
                mode: 'no-cors',
                cache: 'no-cache',
                credentials: 'include',
                headers: {'Content-Type': 'application/x-www-form-urlencoded'},
                body: "email={{request.user.member.hedgedoc_username}}&password={{request.user.member.hedgedoc_password}}"
            }).then(data => {
                document.getElementById("note_frame").contentWindow.location.replace("{{ challenge.note_url }}?both#");
            });
        </script>
    {% endif %}

    {% include 'snippets/quick_add_file.html' with challenge=challenge %}

{% endblock %}
