{% extends 'ctfpad/main.html' %}

{% block content %}

{% include 'ctfpad/dashboard/status.html' %}

{% load humanize %}

<br/>

{% include 'snippets/messages.html' %}

<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
	<div style="position: absolute; top: 0; right: 0;">
	  <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
		  <img class="rounded mr-2" alt="[img]">
		  <strong class="mr-auto">TODO: notifications</strong>
		  <small class="text-muted">just now</small>
		  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="toast-body">
			$player asks for help for $challenge ($ctf)
		</div>
	</div>
</div>


<div class="row">
	<div class="col-md-5">
		<h5>Team members</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ctfpad:users-register' %}">Add a Member</a>
			<table class="table table-sm table-hover">
				<tr>
					<th></th>
					<th>Nickname</th>
					<th>Last seen</th>
				</tr>

				{% for member in members %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'ctfpad:users-detail' member.id %}">View</a></td>
						<td>{{member.username}}</td>
						<td>{{member.last_logged_in | naturaltime}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Recently added CTFs</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ctfpad:ctfs-create'%}">New CTF</a>
			<table class="table table-sm table-hover">
				<tr>
					<th>Name</th>
					<th>Is Permanent</th>
					<th>Is Running Now</th>
					<th>Duration</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				{% for ctf in ctfs %}
					<tr>
						<td>{{ctf.name}}</td>
						<td>{% if ctf.is_permanent %}✔{% else %}❌{% endif %}</td>
						<td>{% if ctf.is_permanent %}✔{% elif ctf.is_running %}✔{% else %}❌{% endif %}</td>
						<td>{% if ctf.duration == 0 %}♾{% else %}{{ ctf.duration | naturaltime}}{% endif %}</td>
						<td><a class="btn btn-sm btn-info" href="{% url 'ctfpad:ctfs-detail' ctf.id %}">View</a></td>
						<td><a class="btn btn-sm btn-info" href="{% url 'ctfpad:ctfs-edit' ctf.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:ctfs-delete' ctf.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
