{% extends 'ctfpad/main.html' %}

{% block content %}

{% include 'ctfpad/dashboard/status.html' %}

{% load humanize %}

<br/>

{% include 'snippets/messages.html' %}

<div class="row">
	<div class="col-md-5">
		<h5>Team Activity</h5>
		<hr>
		<div class="card card-body">
			<div class="row">
				{% if request.user.member.has_superpowers %}
				<div class="col">
					<a class="btn btn-primary btn-sm btn-block" href="{% url 'ctfpad:users-register' %}">Add a Member</a>
				</div>
				{% endif %}
				<div class="col">
					<a class="btn btn-success btn-sm btn-block" href="{% url 'ctfpad:stats-detail' %}">View Members</a>
				</div>
			</div>
			<table class="table table-sm table-hover">
				<tr>
					<th>Nickname</th>
					<th>Working On</th>
				</tr>

				{% for member in members %}
					{% if member.selected_ctf %}
					{% if member.selected_ctf.is_permanent or member.selected_ctf.is_running %}
					<tr class="table-row" data-href="{% url 'ctfpad:users-detail' member.id %}">
						<td>{{member.username}}</td>
						<td>
							{% if member.selected_ctf.is_public %}
							{{member.selected_ctf}}
							{% else %}
							<i>(private)</i>
							{% endif %}
						</td>
					</tr>
					{% endif %}
					{% endif %}
				{% endfor %}
			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>Latest CTFs</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'ctfpad:ctfs-create'%}">New CTF</a>
			<table class="table table-sm table-hover">
				<tr>
					<th>Name</th>
					<th>Is Permanent</th>
					<th>Is Running Now</th>
					<th>Duration</th>
					<th></th>
					<th></th>
					<th></th>
				</tr>

				{% for ctf in latest_ctfs %}
					<tr class="table-row" data-href="{% url 'ctfpad:ctfs-detail' ctf.id %}">
						<td>{{ctf.name}}</td>
						<td>{% if ctf.is_permanent %}✔{% else %}❌{% endif %}</td>
						<td>{% if ctf.is_permanent %}✔{% elif ctf.is_running %}✔{% else %}❌{% endif %}</td>
						<td>{% if ctf.duration == 0 %}♾{% else %}{{ ctf.duration | naturaltime}}{% endif %}</td>
						<td><a class="btn btn-sm btn-success" href="{% url 'ctfpad:ctfs-detail' ctf.id %}">View</a></td>
						<td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:ctfs-edit' ctf.id %}">Update</a></td>
						<td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:ctfs-delete' ctf.id %}">Delete</a></td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>

{% endblock %}
