body
{
    background: #ebeff5 !important;
}


div #total-player-registered
{
    background-color: #4cb4c7;
}


div #total-ctf-played
{
    background-color: #7abecc;
}

div #current-ctf
{
    background-color: #7CD1C0;
}

.user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #a2a5a5;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.greet-user-msg
{
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
}

.form_container {
    margin-top: 20px;
}

#form-title{
    color: #fff;
}

.login_btn {
    width: 100%;
    background: #144a9b !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

.login_container {
    padding: 0 2rem;
}

.input-group-text {
    background: #f7ba5b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass:focus {
    box-shadow: none !important;
    outline: 0px !important;
}

#messages{
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}

.ctf-completed-challenge-row{
    background-color: rgba(78, 161, 78, 0.527);
    font-style: italic;
    text-decoration: line-through;
}