{%  extends 'ctfpad/main.html' %}

{% block content %}

<br/>

{% include 'snippets/messages.html' %}
{% load ctfpad_filters %}


{{ form.errors }}

<div class="row">

    <div class="col-md-2">
    </div>

    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10"><h5 class="card-title">Existing tags</h5></div>
                    <div class="col-2" style="text-align: right;">
                        <a title="Add a tag" data-toggle="modal" data-target="#QuickAddTagModal" href="#">
                            <strong>
                                <i class="fas fa-plus"></i>
                            </strong>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                {% for tag in object_list %}
                <button type="button" class="btn btn-primary btn-info">
                    <a href="{% url 'ctfpad:search' %}?q=cat:tag+{{tag.name}}" title="Search tag" style="color:white; ">
                        {{tag.name}}
                    </a>

                    &nbsp;

                    <a href="{% url 'ctfpad:tags-delete' tag.id %}" title="Delete {{tag.name}}">
                        <span class="badge badge-light" style="color:blue; font-weight: bold;" ><i class="fas fa-times"></i></span>
                    </a>
                </button>
                &nbsp; &nbsp;
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="col-md-2">
    </div>

</div>


{% include 'snippets/quick_add_tag.html' %}

{% endblock %}
