{%  extends 'ctfpad/main.html' %}

{% block content %}


    {% include 'snippets/messages.html' %}


    <div class="row" style="margin-top: 100px;"></div>




    <div class="container h-100">
        <div class="d-flex justify-content-center h-100">
            <div class="user_card">
                <div class="d-flex justify-content-center">
                    <h3 id="form-title">Create Team for CTFPad</h3>
                </div>
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="{% url 'ctfpad:team-register' %}">
                        {% csrf_token %}
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            {{form.name}}
                        </div>
                        <div class="input-group mb-4">
                            <span class="input-group-text"><i class="fas fa-envelope-square"></i></span>
                            {{form.email}}
                        </div>
                        <div class="d-flex justify-content-center mt-3 login_container">
                            <input class="btn btn-primary" type="submit" value="Create Team">
                        </div>
                    </form>
                </div>
                {% for message in messages %}
                    <p id="messages">{{message}}</p>
                {% endfor %}
                {% include 'snippets/formerror.html' %}
            </div>
        </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Team name..';
        form_fields[2].placeholder='Team email..';

        for (var field in form_fields)
            form_fields[field].className += ' form-control';
    </script>

{% endblock %}