
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 h-100 text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="https://github.com/hugsy/ctfpad/">Github</a></li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item"><a href="https://github.com/hugsy/ctfpad/issues">Submit a bug</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">CTFPad by <a href="https://github.com/hugsy">hugsy</a> &copy; 2020 - All Rights Reserved.</p>
      </div>

      <div class="col-lg-9 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fas fa-blog fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fas fa-envelope fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>