{% load ctfpad_filters %}
<div class="row" style="margin-top: 50px;"></div>
<footer class="footer bg-{% theme_cookie %}">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 h-100 text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item"><a href="https://github.com/hugsy/ctfpad/" target="_blank">Github</a></li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item"><a href="https://github.com/hugsy/ctfpad/issues" target="_blank">Submit a bug</a></li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">CTFPad by <a href="https://github.com/hugsy" target="_blank">hugsy</a></p>
      </div>

      <div class="col-lg-9 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          {% if request.user.member.team.blog_url %}
          <li class="list-inline-item mr-3">
            <a href="{{request.user.member.team.blog_url}}" target="_blank">
              <i class="fas fa-blog fa-2x fa-fw"></i>
            </a>
          </li>
          {% endif %}

          {% if request.user.member.team.twitter_url %}
          <li class="list-inline-item mr-3">
            <a href="{{request.user.member.team.twitter_url}}" target="_blank">
              <i class="fab fa-twitter fa-2x fa-fw"></i>
            </a>
          </li>
          {% endif %}

          {% if request.user.member.team.github_url %}
          <li class="list-inline-item mr-3">
            <a href="{{request.user.member.team.github_url}}" target="_blank">
              <i class="fab fa-github fa-2x fa-fw"></i>
            </a>
          </li>
          {% endif %}

          {% if request.user.member.team.youtube_url %}
          <li class="list-inline-item mr-3">
            <a href="{{request.user.member.team.youtube_url}}" target="_blank">
              <i class="fab fa-youtube fa-2x fa-fw"></i>
            </a>
          </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</footer>