{% load ctfpad_filters %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-link" href="{% url 'ctfpad:home' %}"><i class="fas fa-home"></i></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bars"></i>
                    &nbsp;&nbsp;CTFPad
                    {% if request.user.is_authenticated %}
                    &nbsp;
                    <strong>{{request.user.member.username}}</strong>
                    &nbsp;<img src="{{request.user.member.avatar_url}}" alt="avatar" class="rounded-circle" width="25px" height="25">
                    {% if request.user.member.is_guest %}<strong>(guest)</strong>{% endif %}
                    {% endif %}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <h5 class="dropdown-header">Hi, {{request.user}} ({{request.user.member.team.name}})!</h5>
                    <div class="dropdown-divider"></div>
                    {% if not request.user.member.is_guest %}
                    <a class="dropdown-item" href="{% url 'ctfpad:stats-detail' %}"><i class="fas fa-signal"></i>&nbsp;Team Info</a>
                    <a class="dropdown-item" href="{% url 'ctfpad:ctfs-list' %}"><i class="fas fa-flag"></i>&nbsp;CTFs</a>
                    <a class="dropdown-item" href="{% url 'ctfpad:tags-list' %}"><i class="fas fa-tags"></i>&nbsp;Browse by Tags</a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                    <div class="dropdown-divider"></div>
                    {% if request.user.member.has_superpowers %}
                    <a class="dropdown-item" href="{% url 'ctfpad:team-edit' request.user.member.team.id %}"><i class="fas fa-cogs"></i> Settings</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'ctfpad:users-update' request.user.member.id %}"><i class="far fa-address-card"></i> Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'ctfpad:user-logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
                    {% endif %}
                </div>
            </li>

            {% if request.user.is_authenticated and request.user.member.selected_ctf %}
            <li>
                <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'ctfpad:ctfs-detail' request.user.member.selected_ctf.id %}">
                    Jump to <strong>{{request.user.member.selected_ctf}}</strong>
                </a>
            </li>
            {% endif %}

            <li>
                <div class="custom-control custom-switch" style="margin-top: 10px; margin-left: 10px;">
                    <form action="{% url 'ctfpad:set-dark-mode' %}" method="POST">
                        {% csrf_token %}
                        {% theme_cookie as my_theme %}
                        {% if my_theme == 'dark' %}
                        <input type="checkbox" class="custom-control-input" id="toggleDarkMode" name="darkModeCookie" checked onchange="this.form.submit();">
                        <label class="custom-control-label" for="toggleDarkMode"><span class="color: white;">☀</span></label>
                        {% else %}
                        <input type="checkbox" class="custom-control-input" id="toggleDarkMode" name="darkModeCookie" onchange="this.form.submit();">
                        <label class="custom-control-label" for="toggleDarkMode"><span class="color: white;">🌙</span></label>
                        {% endif %}
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <form class="form-inline my-2 my-lg-0" action="{% url 'ctfpad:search' %}" method="GET">
        <input id="searchBarInput" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

