{% extends 'ctfhub/main.html' %}

{% load tz %}
{% block content %}

    <br/>

    {% include 'snippets/messages.html' %}

    {% load static %}
    {% load ctfhub_filters %}

    <div class="row">
        <div class="col-md-4">
            <h5>{{ member.username | upper }}</h5>
            <hr>
            <div class="card card-body">
                <ul class="list-group">

                    <li class="list-group-item list-group-item-action" style="text-align: center;">
                        <div class="row">
                            {% if request.user.member.has_superpowers or request.user.pk == member.user.pk %}
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <a class="btn btn-sm btn-warning"
                                           href="{% url 'ctfhub:users-update' member.pk %}">Edit</a>
                                    </div>
                                </div>
                            {% endif %}
                            {% if request.user.member.has_superpowers %}
                                <div class="col">
                                    <div class="d-grid gap-2">
                                        <a class="btn btn-sm btn-danger"
                                           href="{% url 'ctfhub:users-delete' member.pk %}">Delete</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-action" style="text-align: center;">
                        <div class="row">
                            <div class="col-sm-4">
                                {% if member.avatar %}
                                    <img width="75px" height="75px" src="{{ member.avatar.url }}"
                                         alt="{{ member.username|lower }}_avatar" class="rounded-circle">
                                {% else %}
                                    <img width="75px" height="75px" src="{% static 'images/blank-avatar.png' %}"
                                         alt="default_avatar" class="rounded-circle">
                                {% endif %}
                            </div>
                            <div class="col-sm" style="text-align: justify;">
                                {% autoescape on %}
                                    {{ member.description|html_sanitize }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-envelope" style="font-size: x-large;" title="Email"></i>
                            </div>
                            <div class="col-sm" style="text-align: justify;">
                                <a href="mailto:{{ member.email }}">{{ member.email }}</a>
                            </div>
                        </div>
                    </li>

                    {% if member.selected_ctf %}
                        <li class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-sm-2" style="text-align: center;">
                                    <i class="fas fa-trophy" style="font-size: x-large;" title="Selected CTF"></i>
                                </div>
                                <div class="col-sm" style="text-align: justify;">
                                    <a href="{{ member.selected_ctf.get_absolute_url }}">{{ member.selected_ctf }}</a>
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-battery-three-quarters" style="font-size: x-large;" title="Status"></i>
                            </div>
                            <div class="col-sm" style="text-align: justify;">
                                {% if member.is_active %}
                                    {{ member.status | title }}
                                {% else %}
                                    Inactive
                                {% endif %}
                                {% if member.last_solved_challenge %}
                                    (Last solved: {{ member.last_solved_challenge.solved_time | date:"Y/m/d" }})
                                {% else %}
                                    (No challenge solved)
                                {% endif %}
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-globe-europe" style="font-size: x-large;" title="Country"></i>
                            </div>
                            <div class="col-sm" style="text-align: justify;">
                                {{ member.country }} (<a
                                    href="https://24timezones.com/time-zone/{{ member.timezone|lower }}"
                                    target="_blank">{{ member.timezone }}</a>)
                            </div>
                        </div>
                    </li>

                    {% if member.joined_time %}
                        <li class="list-group-item list-group-item-action">
                            <div class="row">
                                <div class="col-sm-2" style="text-align: center;">
                                    <i class="fas fa-user-secret" style="font-size: x-large;" title="Member Since"></i>
                                </div>
                                <div class="col-sm" style="text-align: justify;">
                                    {{ member.joined_time|date:'F Y' }}
                                </div>
                            </div>
                        </li>
                    {% endif %}

                    <li class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-sm-2" style="text-align: center;">
                                <i class="fas fa-rss-square" style="font-size: x-large;" title="Social Media"></i>
                            </div>
                            <div class="col-sm" style="text-align: justify;">
                                {% if member.blog_url %}
                                    <a target="_blank" href="{{ member.blog_url }}"><i class="fas fa-blog"></i></i></a>
                                    &nbsp;
                                {% endif %}
                                {% if member.twitter_url %}
                                    <a target="_blank" href="{{ member.twitter_url }}"><i
                                        class="fab fa-twitter"></i></a>&nbsp;
                                {% endif %}
                                {% if member.github_url %}
                                    <a target="_blank" href="{{ member.github_url }}"><i class="fab fa-github"></i></a>
                                    &nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-8">


            <h5>Accomplishments</h5>
            <hr>
            <div class="card card-body">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active" id="categories-tab" data-bs-toggle="pill" href="#categories"
                           role="tab" aria-controls="categories" aria-selected="true">Categories</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="stats-tab" data-bs-toggle="pill" href="#stats" role="tab"
                           aria-controls="stats" aria-selected="false">Timeline</a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" id="detail-tab" data-bs-toggle="pill" href="#detail" role="tab"
                           aria-controls="detail" aria-selected="false">History</a>
                    </li>
                </ul>


                <div class="tab-content" style="margin-top: 17px;">
                    <div class="tab-pane fade show active" id="categories" role="tabpanel" aria-labelledby="categories-tab">
                        <div id="wrapper-chart-user-stats">
                            <canvas id="user-categories"></canvas>
                            <script>
                                new Chart(document.getElementById("user-categories"), {
                                    type: "doughnut",
                                    data: {
                                        labels: [
                                            {% for c in member.solved_categories %}
                                                "{{c.category__name|upper}}",
                                            {% endfor %}
                                        ],
                                        datasets: [{
                                            label: "Solved categories",
                                            data: [
                                                {% for c in member.solved_categories %}
                                                    {{c.category__count}},
                                                {% endfor %}
                                            ],
                                            backgroundColor: [{% for _ in member.solved_categories %}
                                                generate_random_color({{forloop.counter}}), {% endfor %}
                                            ]
                                        }]
                                    },
                                    options: {
                                        aspectRatio: 16 / 8,
                                        plugins: {
                                            legend: {
                                                display: true,
                                                position: 'top',
                                            },
                                            title: {
                                                display: false,
                                            },
                                        },
                                    }
                                });
                            </script>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                        <div id="wrapper-chart-user-stats">
                            <canvas id="user-stats"></canvas>
                            <script>
                                new Chart(document.getElementById("user-stats"), {
                                    type: "line",
                                    data: {
                                        labels: [
                                            {% for solved in member.solved_public_challenges|as_time_accumulator_graph %}
                                                "{{solved.time}}",{% endfor %}
                                        ],
                                        datasets: [{
                                            label: "Scored points",
                                            data: [
                                                {% for solved in member.solved_public_challenges|as_time_accumulator_graph %}{{solved.accu}}, {% endfor %}
                                            ],
                                            fill: false,
                                            borderColor: "rgb(75, 192, 192)",
                                            tension: 0.1
                                        }]
                                    },
                                    options: {}
                                });
                            </script>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="detail" role="tabpanel" aria-labelledby="detail-tab">
                        <table class="table table-sm table-hover">
                            <tr>
                                <th>CTF</th>
                                <th>Challenge</th>
                                <th>Category</th>
                                <th>Points</th>
                                <th><abbr title='Hover for local time'>Solved Time (UTC)</abbr></th>
                            </tr>

                            {% for challenge in member.solved_challenges.all reversed %}
                                <tr>
                                    <td><a href="{{ challenge.ctf.get_absolute_url }}">{{ challenge.ctf }}</a></td>
                                    <td><a href="{{ challenge.get_absolute_url }}">{{ challenge.name }}</a></td>
                                    <td><span class="badge text-bg-primary">{{ challenge.category.name }}</span></td>
                                    <td>{{ challenge.points }}</td>
                                    <td>
                                        <abbr title='Local time: {{ challenge.solved_time| timezone:request.user.member.timezone | date:"Y/m/d H:i:s" }}'>{{ challenge.solved_time | date:"Y/m/d H:i:s" }}</abbr>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
