<script>
function get_random_int(max)
{
  return Math.floor(Math.random() * Math.floor(max));
}

function generate_random_rgba()
{
    return `rgba(${get_random_int(256)}, ${get_random_int(256)}, ${get_random_int(256)}, 0.2)`;
}

function generate_random_rgb()
{
    return `rgb(${get_random_int(256)}, ${get_random_int(256)}, ${get_random_int(256)})`;
}
</script>


<div class="row" id="stats">
	<div class="col-md-4">
        <div class="card card-body">
            <canvas id="chart1" width="33%" height="20%"></canvas>
            <script>
new Chart(document.getElementById("chart1"),
{
	"type": "bar",
	"data":
	{
		"labels": [
        {% for player in player_ctf_count %}
            "{{player}}",
        {% endfor %}
        ],
		"datasets": [
		{
			"label": "Most active players*",
			"data": [
            {% for player, count in player_ctf_count.items %}
            {{count}},
            {% endfor %}
            ],
			"fill": false,
			"borderWidth": 1,
            "backgroundColor": [ {% for i in player_ctf_count %}generate_random_rgba(), {% endfor %}]
		}]
	},
	"options":
	{
		"scales":
		{
			"yAxes": [
			{
				"ticks":
				{
					"beginAtZero": true
				}
			}]
		}
	}
});
            </script>
            <small>*: at least one solve in a CTF</small>
        </div>
    </div>


    <div class="col-md-4">
		<div class="card card-body">
            <canvas id="chart2" width="33%" height="20%"></canvas>
            <script>
new Chart(document.getElementById("chart2"), {
    "type": "doughnut",
    "data": {
        "labels": [
            {% for solved in most_solved %}
            "{{solved.category__name|upper}}",
            {% endfor %}
        ],
        "datasets": [{
            "label": "Most solved categories",
            "data": [
                {% for solved in most_solved %}
                {{solved.dcount|upper}},
                {% endfor %}
                ],
            "backgroundColor": [ {% for i in most_solved %}generate_random_rgba(), {% endfor %}]
        }]
    }
});
            </script>
        </div>
    </div>


    <div class="col-md-4">
		<div class="card card-body">
            <canvas id="chart3" width="33%" height="20%"></canvas>
            <script>
new Chart(document.getElementById("chart3"), {
    "type": "line",
    "data": {
        "labels": [
        {% for month in last_year_stats reversed %}"{{month}}",{%endfor%}
        ],
        "datasets": [{
            "label": "Number of CTFs played for the last year",
            "data": [
            {% for month, count in last_year_stats.items %}{{count}},{%endfor%}
            ],
            "fill": false,
            "borderColor": "rgb(75, 192, 192)",
            "lineTension": 0.1
        }]
    },
    "options": {}
});
            </script>

        </div>
    </div>
</div>
