{%  extends 'ctfpad/main.html' %}

{% block content %}

<br>
<h2>
Some stats
</h2>
<br>

<div style="margin: 20px;">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="#charts" class="nav-link active" data-toggle="tab">Charts</a>
        </li>
        <li class="nav-item">
            <a href="#rank" class="nav-link" data-toggle="tab">Ranking</a>
        </li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane fade show active" id="charts">
        {% include 'ctfpad/stats/charts.html' %}
    </div>
    <div class="tab-pane fade" id="rank">
        {% include 'ctfpad/stats/rank.html' %}
    </div>
</div>

{% endblock %}