{% load static %}
{% load humanize %}
{% load ctfpad_filters %}


<div class="row">
    <div class="col-sm">
        <div id="podium">
            <div class="card card-body">
                <h5>All Time Ranking</h5>
                <div id="podium-box" class="row" style="height: 250px">
                    <div class="col-md-4 step-container m-0 p-0">
                        <div>
                            <img width="100px" height="100px" src="{{ranking_stats.alltime.1.avatar_url}}" title="{{ranking_stats.alltime.1.username}}" alt="2nd" class="rounded-circle">
                        </div>
                        <div id="second-step" class="bg-blue step centerBoth podium-number">
                            2
                        </div>
                    </div>
                    <div class="col-md-4 step-container m-0 p-0">
                        <div>
                            <img width="100px" height="100px" src="{{ranking_stats.alltime.0.avatar_url}}" title="{{ranking_stats.alltime.0.username}}" alt="1st" class="rounded-circle">
                        </div>
                        <div id="first-step" class="bg-blue step centerBoth podium-number">
                            1
                        </div>
                    </div>
                    <div class="col-md-4 step-container m-0 p-0">
                        <div>
                            <img width="100px" height="100px" src="{{ranking_stats.alltime.2.avatar_url}}" title="{{ranking_stats.alltime.2.username}}" alt="3rd" class="rounded-circle">
                        </div>
                        <div id="third-step" class="bg-blue step centerBoth podium-number">
                            3
                        </div>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Rank</th>
                            <th scope="col">Member</th>
                            <th scope="col">Rating*</th>
                            <th scope="col">Scored %</th>
                            <th scope="col">Best category</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in ranking_stats.alltime %}
                            <tr>
                                <th scope="row">{{ forloop.counter | ordinal }}</th>
                                <td><a href="{% url 'ctfpad:users-detail' member.id %}">{{ member.username }}</a></td>
                                <td>{{ member.rating_accu }}</td>
                                <td>{{ member.percent }}</td>
                                <td>{% best_category member year_pick %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <small>*: ctf weights applied</small>
            </div>
        </div>
    </div>

    <div class="col-sm">

        <div class="card card-body">
            <h5>Last CTFs</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">1st</th>
                        <th scope="col">2nd</th>
                        <th scope="col">3rd</th>
                        <th scope="col">4th</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ctf in ranking_stats.last_ctfs|slice:":15" %}
                        <tr>
                            <td style="vertical-align: middle;"><a href="{% url 'ctfpad:ctfs-detail' ctf.id %}">{{ctf}}</a></td>
                            {% for member, percent in ctf.ranking|slice:":4" %}
                                <td style="vertical-align: middle;">
                                    {% if percent > 0 %}
                                        <a href="{% url 'ctfpad:users-detail' member.id %}"><img width="30px" height="30px" src="{{member.avatar_url}}" title="{{member.username}}" alt="avatar" class="rounded-circle"></a>
                                        &nbsp;{{percent|floatformat:"0"}}&#x25;
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
