{% load static %}
<div class="row" id="stats">
    <div class="col-md-4">
        <h5>{{team.name | upper}}</h5>
		<hr>
		<div class="card card-body">
            <ul class="list-group">
                <li class="list-group-item list-group-item-action" style="text-align: center;">
                    {% if team.avatar %}
                    <img width="75px" height="75px" src="{{team.avatar.url}}" alt="{{team.name|lower}}_avatar" class="rounded-circle">
                    {% else %}
                    <img width="75px" height="75px" src="{% static 'images/blank-avatar.png' %}" alt="default_avatar" class="rounded-circle">
                    {% endif %}
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Members:</strong>
                    {{team.members|length}}
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>Email:</strong>
                    <a href="mailto:{{team.email}}" target="_blank">{{team.email}} <i class="fas fa-external-link-alt"></i></a>
                </li>

                <li class="list-group-item list-group-item-action">
                    <strong>API Key:</strong>
                    <code>{{team.api_key}}</code>
                </li>

                {% if team.blog_url %}
                <li class="list-group-item list-group-item-action">
                    <strong>Blog:</strong>
                    <a href="{{team.blog_url}}" target="_blank">{{team.blog_url}} <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}

                {% if team.github_url %}
                <li class="list-group-item list-group-item-action">
                    <strong>Github:</strong>
                    <a href="{{team.github_url}}" target="_blank">{{team.github_url}} <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}

                {% if team.twitter_url %}
                <li class="list-group-item list-group-item-action">
                    <strong>Twitter:</strong>
                    <a href="{{team.twitter_url}}" target="_blank">{{team.twitter_url}} <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}

                {% if team.youtube_url %}
                <li class="list-group-item list-group-item-action">
                    <strong>Youtube:</strong>
                    <a href="{{team.youtube_url}}" target="_blank">{{team.youtube_url}} <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}

                {% if team.team.ctftime_id > 0 %}
                <li class="list-group-item list-group-item-action">
                    View team on
                    <a href="https://ctftime.org/team/{{team.ctftime_id}}"> <strong>CTFTime</strong> <i class="fas fa-external-link-alt"></i></a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="col-md-8">
        <h5>Members</h5>
        <hr>
        <div class="card card-body">
            <table class="table table-sm table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Best category</th>
                    <th scope="col">Member Since</th>
                    <th scope="col">Blog</th>
                    <th scope="col">Twitter</th>
                    <th scope="col">Github</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    {% if request.user.member.has_superpowers %}
                    <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for member in team.members %}
                <tr class="table-row" data-href="{% url 'ctfpad:users-detail' member.id %}">
                    <th scope="row">
                        <img height="30px" width="35px" src="{{member.country_flag_url}}" alt="{{member.country}}" class="rounded-circle">
                        <a href="mailto:{{member.email}}">{{member.username}}</a>
                    </td>
                    <td>{{member.best_category}}</td>
                    <td>{{member.joined_time | date:'Y'}}</td>
                    <td>{% if member.blog_url%}<a href="{{member.blog_url}}" target="_blank"><i class="fas fa-blog"></i></i></a>{% endif %}</td>
                    <td>{% if member.twitter_url%}<a href="{{member.twitter_url}}" target="_blank"><i class="fab fa-twitter"></i></a>{% endif %}</td>
                    <td>{% if member.github_url%}<a href="{{member.github_url}}" target="_blank"><i class="fab fa-github"></i></a>{% endif %}</td>
                    <td><a class="btn btn-sm btn-success" href="{% url 'ctfpad:users-detail' member.id %}">View</a></td>
                    {% if request.user.member.has_superpowers or request.user.id == member.user.id %}
                    <td><a class="btn btn-sm btn-warning" href="{% url 'ctfpad:users-update' member.user.id %}">Edit</a></td>
                    {% endif %}
                    {% if request.user.member.has_superpowers %}
                    <td><a class="btn btn-sm btn-danger" href="{% url 'ctfpad:users-delete' member.user.id %}">Delete</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>