{% extends 'ctfpad/main.html' %}

{% block content %}

    <br/>

    {% include 'snippets/messages.html' %}

    {% include 'snippets/formerror.html' %}

    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        <p class="card-header-title">Password change for profile '{{ user.username }}'</p>
                    </h5>
                </div>

                <div class="card-body">
                    <form class="form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label class="label"><strong>Current Password</strong></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                                <input type="password" id="{{ form.old_password.id_for_label }}"
                                       name="{{ form.old_password.html_name }}"
                                       placeholder="{{ form.old_password.label }}" value="" class="form-control"
                                       required/>
                            </div>
                        </div>

                        <div class="modal-body">
                            <label class="label"><strong>New Password</strong></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                                <input type="password" id="{{ form.new_password1.id_for_label }}"
                                       name="{{ form.new_password1.html_name }}"
                                       placeholder="{{ form.new_password1.label }}" value="" class="form-control"
                                       required/>
                            </div>
                        </div>

                        <div class="modal-body">
                            <label class="label"><strong>New Password Confirmation</strong></label>
                            <div class="input-group mb-3">
                                <span class="input-group-text">
                                    <i class="fas fa-key"></i>
                                </span>
                                <input type="password" id="{{ form.new_password2.id_for_label }}"
                                       name="{{ form.new_password2.html_name }}"
                                       placeholder="{{ form.new_password2.label }}" value="" class="form-control"
                                       required/>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <div class="control card-footer-item">
                                <div class="d-grid gap-2">
                                    <button type="button" class="btn btn-primary btn-sm"
                                            onclick="this.form.submit();">Update
                                    </button>
                                    <button type="button" class="btn btn-secondary btn-sm"
                                            onclick="window.history.back();">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}