{%  extends 'ctfpad/main.html' %}

{% block content %}

    {% include 'snippets/messages.html' %}

    <div class="row" style="margin-top: 100px;"></div>

    {% include 'snippets/formerror.html' %}

    <div class="row">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="user_card">
                    <div class="d-flex justify-content-center">
                        <h3 id="form-title">Password reset</h3>
                    </div>

                    <div class="d-flex justify-content-center form_container">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" id="{{form.new_password1.id_for_label}}" name="{{form.new_password1.html_name }}" placeholder="{{form.new_password1.label}}" class="form-control"/>
                            </div>

                            <div class="input-group mb-2">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                                <input type="password" id="{{form.new_password2.id_for_label}}" name="{{form.new_password2.html_name }}" placeholder="{{form.new_password2.label}}" class="form-control"/>
                            </div>

                            <div class="d-flex justify-content-center mt-3 login_container">
                                <input class="btn btn-primary" type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                    <div class="mt-4">
                        <div class="d-flex justify-content-center links">
                            Back to login, <a href="{% url 'ctfpad:user-login' %}" class="ml-2">Click here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}